{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>Video Stream </title>
{% endblock %}
{% block content %}
<h1>Video Stream</h1>

<label for="angleOptions"> Seleziona l'angolo da analizzare </label>
<form action="{{ url_for('video_input') }}" method="post">
<select id="angleOptions" name="angle" required onchange="saveSelection(this.value)">
    <option disabled selected value> -- </option>
    <option value="right-shoulder"> Spalla destra </option>
    <option value="left-shoulder"> Spalla sinistra </option>
    <option value="right-elbow"> Gomito destro </option>
    <option value="left-elbow"> Gomito sinistro </option>
    <option value="right-knee"> Ginocchio destro </option>
    <option value="left-knee"> Ginocchio sinistro </option>
</select>
</form>


<a id="startButton" class="btn btn-primary" onclick="startStreaming()">Avvia Stream</a>  
<a id="stopButton" class="btn btn-primary" style="display: none;" href="/">Stop Stream</a>
<img id="imgStream" src="">

<script>
function saveSelection(value) {
    localStorage.setItem("selectedAngle", value);
}


function submitForm() {
    document.getElementById('angleOptions').submit();
}


function startStreaming() {

    var angleChoice = document.getElementById('angleOptions');
    var imgStream = document.getElementById('imgStream');
    angleChoice = angleChoice.value;


    if (angleChoice)
    {
        imgStream.src = "{{ url_for('video_feed') }}"
        document.getElementById('stopButton').style.display = '';
    } else {
        alert("Selezionare un'opzione prima di avviare lo stream");
    }
}
</script>


{% endblock %}
