{% comment %} {% extends 'base.html' %}

{% block content %}
    <html>
        <head>
           <script>
                function call_counter(url) {
                    window.open(url);
                }
            </script>
        </head>
        <body>
            <button onclick="call_counter('http://127.0.0.1:8000/video_input/video_stream');">
                Video Streaming Only
            </button>
            <button onclick="call_counter('http://127.0.0.1:8000/video_input/video_save');">
                Video Stream And Save Locally
            </button>
        </body>
    </html>
{% endblock %} {% endcomment %}

<!-- video_input.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Video Stream</title>
</head>
<body>
    <h2>Video Stream</h2>
    <img id="videoFrame" autoplay playsinline></video>
    <script type="text/javascript">
        const videoFrame = document.getElementById('videoFrame');
        const socket = new WebSocket('ws://' + window.location.host + '/ws/video/');
        socket.binaryType = 'blob';

        socket.onopen = function(e) {
            console.log('Connessione WebSocket aperta', e);
        };
        socket.onerror = function(e) {
            console.error('Errore WebSocket', e);
        }; 
        socket.onmessage = function(event) {
            console.log(event);
            const urlObject = URL.createObjectURL(event.data);
            videoFrame.src = urlObject; 

            // Rilascia l'URL del frame precedente
            videoFrame.onload = () => {
                URL.revokeObjectURL(videoFrame.src);
            };
        };

    </script>
</body>
</html>